<h1>Task Page</h1>

<h2>Task: <%= @task.title %></h2>

<ul>
  <li>Details: <%= @task.details %></li>
  <li>Completed? <%= @task.completed %></li>
</ul>


<div class="btn btn-primary">
  <%= link_to "Edit Task", edit_path(@task), :class => "btn" %>
</div>

<div class="btn btn-primary">
  <%= link_to "Back to Task List", tasks_path, :class => "btn" %>
</div>

<div class="btn btn-primary">
  <%= link_to "Delete Task", task_path(@task), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this task?"}, :class => "btn" %>
</div>
